
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: rgb(246, 246, 248);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}
#miMenu {
    width: 80%;
    padding: 0%;
    margin: 0%;
}

#miMenu ul {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;    
    align-content: center;
    width: 100%;
}

#miMenu ul li{
    list-style: none;
    margin: 10px auto;
}

#miMenu ul li a{
    text-decoration: none;
    background: rgb(255, 210, 178);
    padding: 10px;
    border-radius: 5px;
}

#miMenu a:hover{
    color: cornflowerblue;
    font-size:xx-large;
}

.btn-Toggle {
    display: none;
}

body{
    background: url('../images/banner.jpeg') no-repeat;
    background-size: cover;
}

/* Categorias de Menu**/
#categorias{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#categorias article{
    background-color: white;
    box-sizing: border-box;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
}

#categorias article h2{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

/* Definiendo los media queries para dispositivos Medianos*/
@media only screen and (max-width: 760px){
    body{
        background: rgba(241, 114, 9, 0.849);
    }

    #platos section img{
        display: none;
    }

    /* Coloco miMenu Verticalmente*/
    header{
        height: 100%;
    }

    #miMenu{
        background-color: cornflowerblue;
    }

    #miMenu ul{
        flex-direction: column;
        width: 70%;
    }

    .btn-Toggle{
        display: block;
    }

    #categorias article p{
        display: none;
    }

    
}

/** Pie de pagina*/
#infoContact{
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: center;
    margin: 40px;
    padding: 30px;
    border-radius: 50px;
}

/* media queries para pantallas pequeñas*/
@media all and (max-width: 600px){
    body {
        background: rgba(5, 5, 90, 0.911);
    }

    /* Coloco miMenu Verticalmente*/
    #miMenu{
        background-color: cornflowerblue;
    }

    header{
        flex-direction: column;
        height: 100%;
    }
    #miMenu ul{
        flex-direction: column;
        width: 70%;
    }

    .btn-Toggle{
        display: block;
    }

    /** Slider de Imagenes**/
    #sliderImg{
        display: none;
    }

    #platos section h1{
        font-size: small;
    }

    #platos section figure{
        display: none;
    }

    #infoContact iframe{
        display: none;
    }
   
    

}

/********/
@media only screen and (max-width: 600px) and (orientation: landscape){
    body{
        background: rgb(39, 88, 5)
    }
}